html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
/* Make everything except the footer stretch normally */
body > *:not(.footer) {
    flex: 1 0 auto;
}
