html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: oklch(91.582% 0.01422 74.305);  
  height: 100vh; /* Full viewport height */ 
}
  
/* Make everything except the footer stretch normally */
body > *:not(.footer) {
    flex: 1 0 auto;
}
