.footer {
    width: 100%;
    background-color: #4D3326; /* Dark background */
    color: #EED9C8; /* White text */
    text-align: center;
    padding: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 0.9em;
    flex-shrink: 0; /* Footer stays at the bottom without shrinking */
}